In [1]:
import pandas as pd

df = pd.DataFrame({'test': [7.8, 17.2]})

In [2]:
df

   test
0   7.8
1  17.2

In [3]:
df = df.assign(**{
    'test_2': [1, 2]
})
df

   test  test_2
0   7.8       1
1  17.2       2

In [4]:
df = df.assign(**{
    'test_2': [3, 4]
})
df

   test  test_2
0   7.8       3
1  17.2       4